<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteApp_Tool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RemoteApp_Tool.My.MySettings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedConnectionModeMSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedOpenWithNotepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedServerPort" serializeAs="String">
                <value>3389</value>
            </setting>
            <setting name="SavedAltServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedUseRDGateway" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedRDGatewayAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedAttemptDirectRDGateway" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedMSIShortcutDesktop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedMSIShortcutStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedMSIShortcutStartTopLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedUseShortcutTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedShortcutTag" serializeAs="String">
                <value>remote</value>
            </setting>
            <setting name="SavedClientConnectionOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedCreateRAWebIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedMSIPerUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedDisableFTA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedSignRDP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedSignedAndUnsigned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedCertSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedRDPOptions" serializeAs="String">
                <value>disableremoteappcapscheck|disableremoteappcapscheck|i|1
drivestoredirect|drivestoredirect|s|*
prompt_for_credentials|prompt for credentials|i|1
promptcredentialonce|promptcredentialonce|i|0
redirectcomports|redirectcomports|i|1
span_monitors|span monitors|i|1
use_multimon|use multimon|i|1</value>
            </setting>
        </RemoteApp_Tool.My.MySettings>
    </userSettings>
</configuration>
